@use "breakpoints" as bp;

.menu {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-areas:
    "maps       maps       timeline   timeline   houses  houses"
    "characters characters weapons    weapons    dragons dragons";
  gap: 1.5rem;

  > :nth-child(1) {
    grid-area: maps;
  }
  > :nth-child(2) {
    grid-area: timeline;
  }
  > :nth-child(3) {
    grid-area: houses;
  }
  > :nth-child(4) {
    grid-area: characters;
  }
  > :nth-child(5) {
    grid-area: weapons;
  }
  > :nth-child(6) {
    grid-area: dragons;
  }

  @media (max-width: bp.$lg) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "maps       timeline"
      "houses     characters"
      "weapons    dragons";
  }

  @media (max-width: bp.$md) {
    grid-template-columns: 1fr;
    grid-template-areas:
      "maps"
      "timeline"
      "houses"
      "characters"
      "weapons"
      "dragons";
  }
}
