.sigil {
  display: inline-block;
  aspect-ratio: 229 / 256;
  background-image: url('/sprites/sigils.webp');
  background-repeat: no-repeat;
  background-size: 500% 800%;
  vertical-align: middle;
}
